@import "tailwindcss";


a.active hr{
display:block;
}

.card-font{
    font-family:'Poppins', sans-serif;
}
@media (max-width:640px){
    a.active{
        background-color:black;
        color:white;
    }
    
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
  .animate-float-delay {
    animation: float 3s ease-in-out infinite 1s;
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  ::-webkit-scrollbar{
    display:none;
  }